* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u0_normal.png");
}

* html .u1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u1.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u2_normal.png");
}

* html .u3 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u3.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Video_widget_files/u4_normal.png");
}

* html .u5 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Video_widget_files/u5.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Video_widget_files/u6_normal.png");
}

* html .u7 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Video_widget_files/u7.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Video_widget_files/u8_normal.png");
}

* html .u9 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Video_widget_files/u9.png");
}

* html .u10 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Video_widget_files/text___h1_u10.png");
}

* html .u11 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Video_widget_files/text___h1_u11.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/u13_normal.png");
}

* html .u14 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/u14.png");
}

* html .u15_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/button_u15_mouseOver.png");
}

* html .u15_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/button_u15_disabled.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/button_u15_normal.png");
}

* html .u16 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/u16.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/placeholder_u17_normal.png");
}

* html .u18 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/u18.png");
}

* html .u19 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/text___h3_u19.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/placeholder_u20_normal.png");
}

* html .u21 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/u21.png");
}

* html .u22 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/text___h3_u22.png");
}

* html .u24 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/text___h1_u24.png");
}

* html .u25 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/text___h1_u25.png");
}

* html .u26 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/paragraph_u26.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/placeholder_u27_normal.png");
}

* html .u28 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/u28.png");
}

* html .u29 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Sign_Up_files/paragraph_u29.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u32_normal.png");
}

* html .u33 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u33.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/image_u34_normal.png");
}

* html .u35 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u35.png");
}

* html .u36_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u36_line.png");
}

* html .u37_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/button_u37_mouseOver.png");
}

* html .u37_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/button_u37_disabled.png");
}

* html .u37_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/button_u37_normal.png");
}

* html .u38 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u38.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u39_normal.png");
}

* html .u40 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u40.png");
}

* html .u41_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u41_line.png");
}

* html .u42 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/paragraph_u42.png");
}

* html .u43 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/paragraph_u43.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u44_normal.png");
}

* html .u45 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u45.png");
}

* html .u46 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/paragraph_u46.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/image_u47_normal.png");
}

* html .u48 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u48.png");
}

* html .u49_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/image_u49_normal.png");
}

* html .u50 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/u50.png");
}

* html .u51 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="WhatserLandingPage_files/paragraph_u51.png");
}

