

#u1619_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:550px;
    height:298px;
}

.u1620 {
    background-image: url('../PopUp_window_files/u1620.png');
}

.u1620 {
    position:absolute;
    left:2px;
    top:138px;
    width:540px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1621_normal {
    background-image: url('../PopUp_window_files/u1621_normal.png');
}

.u1621_container {
    position:absolute;
    left:306px;
    top:207px;
    width:538px;
    height:289px;
}

#u1621_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:544px;
    height:295px;
}

.u1622 {
    background-image: url('../PopUp_window_files/u1622.png');
}

.u1622 {
    position:absolute;
    left:2px;
    top:136px;
    width:534px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1623 {
    position:absolute;
    left:318px;
    top:460px;
    width:80px;
    height:24px;
    ;
    ;
    text-align: center;;
    font-family:'Abel';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1624_normal {
    background-image: url('../PopUp_window_files/u1624_normal.png');
}

.u1624_container {
    position:absolute;
    left:306px;
    top:207px;
    width:538px;
    height:22px;
}

#u1624_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:544px;
    height:28px;
}

.u1625 {
    background-image: url('../PopUp_window_files/u1625.png');
}

.u1625 {
    position:absolute;
    left:2px;
    top:3px;
    width:534px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1626 {
    position:absolute;
    left:306px;
    top:207px;
    width:538px;
    height:22px;
    ;
    background-color:#CC6600;;
    text-align: left;;
    font-family:'Abel';
    font-size: 13px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u1627 {
    background-image: url('../PopUp_window_files/u1627.png');
}

.u1627 {
    position:absolute;
    left:318px;
    top:250px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1628 {
    background-image: url('../PopUp_window_files/u1628.png');
}

.u1628 {
    position:absolute;
    left:318px;
    top:293px;
    width:449px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u1630 {
    position:absolute;
    left:1034px;
    top:571px;
    width:195px;
    height:93px;
    overflow:hidden;
}

#pd0u1630 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:93px;
    
}

.u1631_normal {
    background-image: url('../Campaigns____Step_4_files/u1631_normal.png');
}

.u1631_container {
    position:absolute;
    left:11px;
    top:-6px;
    width:183px;
    height:87px;
}

#u1631_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:93px;
}

.u1632 {
    background-image: url('../Campaigns____Step_4_files/u1632.png');
}

.u1632 {
    position:absolute;
    left:2px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1633_normal {
    background-image: url('../Campaigns____Step_4_files/ToolTip_Content_Area_u1633_normal.png');
}

.u1633_container {
    position:absolute;
    left:17px;
    top:10px;
    width:170px;
    height:65px;
}

#u1633_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:71px;
}

.u1634 {
    background-image: url('../Campaigns____Step_4_files/u1634.png');
}

.u1634 {
    position:absolute;
    left:2px;
    top:7px;
    width:166px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1635_normal {
    background-image: url('../Campaigns____Step_4_files/u1635_normal.png');
}

.u1635_container {
    position:absolute;
    left:96px;
    top:81px;
    width:11px;
    height:12px;
}

#u1635_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:18px;
}

.u1636 {
    background-image: url('../Campaigns____Step_4_files/u1636.png');
}

.u1636 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u1637 {
    position:absolute;
    left:14px;
    top:571px;
    width:195px;
    height:93px;
    overflow:hidden;
}

#pd0u1637 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:93px;
    
}

.u1638_normal {
    background-image: url('../Campaigns____Step_4_files/u1631_normal.png');
}

.u1638_container {
    position:absolute;
    left:11px;
    top:-6px;
    width:183px;
    height:87px;
}

#u1638_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:93px;
}

.u1639 {
    background-image: url('../Campaigns____Step_4_files/u1639.png');
}

.u1639 {
    position:absolute;
    left:2px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1640_normal {
    background-image: url('../Campaigns____Step_4_files/ToolTip_Content_Area_u1633_normal.png');
}

.u1640_container {
    position:absolute;
    left:17px;
    top:10px;
    width:170px;
    height:65px;
}

#u1640_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:71px;
}

.u1641 {
    background-image: url('../Campaigns____Step_4_files/u1641.png');
}

.u1641 {
    position:absolute;
    left:2px;
    top:7px;
    width:166px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1642_normal {
    background-image: url('../Campaigns____Step_4_files/u1635_normal.png');
}

.u1642_container {
    position:absolute;
    left:96px;
    top:81px;
    width:11px;
    height:12px;
}

#u1642_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:18px;
}

.u1643 {
    background-image: url('../Campaigns____Step_4_files/u1643.png');
}

.u1643 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u1644 {
    position:absolute;
    left:180px;
    top:265px;
    width:195px;
    height:93px;
    overflow:hidden;
}

#pd0u1644 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:93px;
    
}

.u1645_normal {
    background-image: url('../Campaigns____Step_4_files/u1631_normal.png');
}

.u1645_container {
    position:absolute;
    left:11px;
    top:-6px;
    width:183px;
    height:87px;
}

#u1645_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:93px;
}

.u1646 {
    background-image: url('../Campaigns____Step_4_files/u1646.png');
}

.u1646 {
    position:absolute;
    left:2px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1647_normal {
    background-image: url('../Campaigns____Step_4_files/ToolTip_Content_Area_u1633_normal.png');
}

.u1647_container {
    position:absolute;
    left:17px;
    top:10px;
    width:170px;
    height:65px;
}

#u1647_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:71px;
}

.u1648 {
    background-image: url('../Campaigns____Step_4_files/u1648.png');
}

.u1648 {
    position:absolute;
    left:2px;
    top:7px;
    width:166px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1649_normal {
    background-image: url('../Campaigns____Step_4_files/u1635_normal.png');
}

.u1649_container {
    position:absolute;
    left:96px;
    top:81px;
    width:11px;
    height:12px;
}

#u1649_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:18px;
}

.u1650 {
    background-image: url('../Campaigns____Step_4_files/u1650.png');
}

.u1650 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u1651 {
    position:absolute;
    left:1034px;
    top:461px;
    width:195px;
    height:93px;
    overflow:hidden;
}

#pd0u1651 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:93px;
    
}

.u1652_normal {
    background-image: url('../Campaigns____Step_4_files/u1631_normal.png');
}

.u1652_container {
    position:absolute;
    left:11px;
    top:-6px;
    width:183px;
    height:87px;
}

#u1652_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:93px;
}

.u1653 {
    background-image: url('../Campaigns____Step_4_files/u1653.png');
}

.u1653 {
    position:absolute;
    left:2px;
    top:36px;
    width:179px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1654_normal {
    background-image: url('../Campaigns____Step_4_files/ToolTip_Content_Area_u1633_normal.png');
}

.u1654_container {
    position:absolute;
    left:17px;
    top:10px;
    width:170px;
    height:65px;
}

#u1654_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:71px;
}

.u1655 {
    background-image: url('../Campaigns____Step_4_files/u1655.png');
}

.u1655 {
    position:absolute;
    left:2px;
    top:7px;
    width:166px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1656_normal {
    background-image: url('../Campaigns____Step_4_files/u1635_normal.png');
}

.u1656_container {
    position:absolute;
    left:96px;
    top:81px;
    width:11px;
    height:12px;
}

#u1656_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:18px;
}

.u1657 {
    background-image: url('../Campaigns____Step_4_files/u1657.png');
}

.u1657 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

